{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SIS: Edit student</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">

</head>

<body>
    <div class="container">

{% if request.get_full_path == "/students/add-student/" %}
            <h2>Add new student</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button class="btn btn-primary" type="submit">Save</button>
            </form>

{% elif request.get_full_path == "/courses/add-course/" %}
            
            <h2>Add new course</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button class="btn btn-warning" type="submit">Save</button>
            </form>
            
{% elif request.get_full_path == "/grades/add-course/" %}
            
            <h2>Add new grade</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button class="btn btn-warning" type="submit">Save</button>
            </form>
{% else %}
            <h2>Edit the instance</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button class="btn btn-warning" type="submit">Save</button>
            </form>
{% endif %}        

    </div>
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>